* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    /* Variables For Storing Colors */
    --primary-clr: #ff7550;
    --bg-primary: #1f1d2a;
    --bg-secondary: #252935;
    --bg-ternary: #35333f;
    --heading-clr: #efefef;
    --text-clr: #808191;
    --gradient: linear-gradient(to right, #35333f, transparent);
}

body {
    position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
    /* DEN HER DER BUGGER WIDTH */
    width: 100%; 
    height: 100vh;
    background-color: var(--bg-secondary);
}

/* CODE FOR TOP BAR STARTS */
.page-wrapper .top-bar {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: var(--bg-primary);
    border-bottom: 2px solid var(--bg-secondary);
    z-index: 2px;
}

.page-wrapper .top-bar .top-bar-left {
    display: flex;
    align-items: center;
}

.top-bar .top-bar-left .hamburger-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;
    display: none;
}

.top-bar-left .hamburger-btn span {
    width: 100%;
    height: 2px;
    background-color: var(--heading-clr);
    border-radius: 15px;
}

.top-bar .top-bar-left .logo {
    position: relative;
    display: flex;
    align-items: center;
}

.top-bar .top-bar-left .logo img {
    width: 120px;
}

.top-bar .search-box {
    position: relative;
    width: 400px;
    height: 37px;
    left: -80px;
    background-color: var(--bg-ternary);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .search-box .input-box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0px 50px 0px 20px;
    border-radius: inherit;
    background-color: var(--bg-ternary);
    color: var(--heading-clr);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    outline: none;
    border: none;
}

.top-bar .search-box .search-btn {
    position: absolute;
    width: 37px;
    height: 37px;
    right: 0;
    border-radius: 50px;
    background-color: var(--bg-ternary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.top-bar .search-box .search-btn i {
    color: var(--text-clr);
    font-size: 15px;
}

.top-bar .top-bar-right {
   display: flex;
   align-items: center;
   gap: 20px;

}

.top-bar .top-bar-right .mode-switch,
.top-bar .top-bar-right .notifications {
    position: relative;
}

.top-bar .top-bar-right .mode-switch i,
.top-bar .top-bar-right .notifications i {
    font-size: 20px;
    color: var(--text-clr);
    cursor: pointer;
    transition: color 0.3s;
}

.top-bar .top-bar-right .mode-switch i:hover,
.top-bar .top-bar-right .notifications i:hover {
    color: var(--heading-clr);
}

.top-bar .top-bar-right .profile {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 10px;
    border-left: 2px solid var(--bg-ternary);
}

.top-bar .top-bar-right .profile img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

/* TOP BAR CODE ENDS */

/* Code For Side Bar Starts */

.page-wrapper .side-bar {
    position: fixed;
    width: 240px;
    height: calc(100vh - 70px);
    top: 70px;
    left: 0;
    background-color: var(--bg-primary);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 100;
    transition: width 0.3s;
}
.page-wrapper .side-bar::-webkit-scrollbar {
    width: 5px;
}

.page-wrapper .side-bar::-webkit-scrollbar-track {
    border: 1px solid var(--bg-ternary);
    background-color: var(--bg-primary);
}

.page-wrapper .side-bar::-webkit-scrollbar-thumb {
    background-color: var(--bg-ternary);
    border-radius: 5px;
}

.side-bar .menu-label {
    display: inline-block;
    margin: 25px 0px 15px;
    margin-left: 20px;
    color: var(--heading-clr);
    font-size: 14px;
    text-transform: uppercase;
}

.side-bar ul.navbar-links {
    width: 100%;
    list-style: none;
}

.side-bar ul.navbar-links li {
    position: relative;
    width: 100%;
    /* padding: 12px 0px; */
}

.side-bar ul.navbar-links li:hover,
.side-bar ul.navbar-links li.active {
    background: var(--gradient);
}

.side-bar ul.navbar-links li::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    /* background-color: yellow; */
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.side-bar ul.navbar-links li:hover::before,
.side-bar ul.navbar-links li.active::before {
    background-color: var(--primary-clr);
}

.side-bar ul.navbar-links li a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
}

ul.navbar-links li a .nav-icon {
    position: relative;
    display: block;
    min-width: 70px;
    width: 70px;
    height: 100%;
    padding: 14px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.navbar-links li a .nav-icon i {
    font-size: 17px;
}

ul.navbar-links li a .nav-text {
    color: var(--text-clr);
    white-space: nowrap;
}

ul.navbar-links li.active a .nav-icon i,
ul.navbar-links li.active a .nav-text {
    color: var(--heading-clr);
}

.side-bar .line {
    position: relative;
    display: inline-block;
    width: calc(100% - 50px);
    height: 1px;
    background-color: var(--bg-ternary);
    left: 25px;
    margin: 20px auto 10px;
}

.side-bar .sidebar-footer {
    position: relative;
    width: 100%;
    margin-top: 80px;
    white-space: nowrap;
}

.side-bar .sidebar-footer .settings,
.side-bar .sidebar-footer .logoutBtn {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--text-clr);
    border-top: 1px solid var(--bg-secondary);
}

.sidebar-footer .settings .gear-icon,
.sidebar-footer .logoutBtn .logout-icon {
    display: block;
    position: relative;
    min-width: 70px;
    width: 70px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-footer .settings .gear-icon:hover,
.sidebar-footer .logoutBtn .logout-icon:hover {
    color: var(--heading-clr);
}


/* Code For Side Bar Ends */

